<ul class="navbar-nav me-auto mb-0">
    <li class="nav-item">@Html.ActionLink("Home", "Index", "Seller", new { area = "" }, new { @class = "nav-link text-white" })</li>
    <li class="nav-item">@Html.ActionLink("Add Movie", "AddMovie", "Seller", new { area = "" }, new { @class = "nav-link text-white" })</li>
    <li class="nav-item">@Html.ActionLink("Orders", "Order", "Seller", new { area = "" }, new { @class = "nav-link text-white" })</li>
</ul>
