<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">@Html.ActionLink("Home", "Index", "Seller", new { area = "" }, new { @class = "nav-link text-white" })</li>
    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
</ul>
