<ul class="navbar-nav me-auto mb-0">
    <li class="nav-item">@Html.ActionLink("Home", "Index", "Customer", new { area = "" }, new { @class = "nav-link text-white" })</li>
    <li class="nav-item">
        <a href="/Customer/Cart" class="nav-link text-white">
            Cart
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Customer/OrderHistory" class="nav-link text-white">
            Order History
            <i class="fa-solid fa-list-squares" style="color: #ffffff;"></i>
        </a>
    </li>
</ul>
