@model IEnumerable<MusicStoreMVCApp.Movie>

@{
    ViewBag.Title = "Index";
}

<div class="p-5 bg-secondary">
    <h2>Movies / Products</h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3 card bg-dark text-white m-5">
                    <img src="@item.ImageUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@item.MovieTitle</h5>
                        <p class="card-text">@item.Description</p>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success me-3"><i class="fa-sharp fa-solid fa-pencil" style="color: #ffffff;"></i></button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeletionModal"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeletionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove current selected product/movie from the list? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Yes, I confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
