
@{
    ViewBag.Title = "Checkout";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 561px;">
    <i class="fa-solid fa-check-circle fa-2xl" style="color: #30a90f;"></i>
    <h4 class="mt-5">THANK YOU FOR YOUR PURCHASE</h4>
    Order Number:
</div>
