@model IEnumerable<MusicStoreMVCApp.Movie>

@{
    ViewBag.Title = "Customer Home";
}

@section Scripts { }

<div class="p-5 bg-secondary">
    <h2>Movies / Products</h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (Movie movie in Model)
            {
                <div class="col-3 card bg-dark text-white rounded-5 m-5 p-4">
                    <img src="@movie.ImageUrl" class="card-img-top rounded-3">
                    <div class="card-body pb-0">
                        <p class="card-text">
                            <span class="fw-bold">
                                Genre:&nbsp;
                            </span>
                            @foreach (MovieGenre movieGenre in movie.MovieGenres)
                            {
                                <span>
                                    @Html.DisplayFor(item => movieGenre.Genre.GenreType)&nbsp;
                                </span>
                            }
                        </p>
                        <h5 class="card-title">@movie.MovieTitle</h5>
                        <p class="card-text">@movie.Description</p>
                        <div class="d-flex justify-content-end">
                            <a href="/Customer/MovieDetail/@movie.Id" class="btn btn-warning me-3 text-white">
                                View
                                <i class="fa-solid fa-book" style="color: #ffffff;"></i>
                            </a>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmAddToCartModal">
                                Add to Cart
                                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmAddToCartModal" tabindex="-1" aria-labelledby="confirmAddToCartModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmAddToCartModal">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to add selected movie to cart?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="deleteMovie()">Yes, add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
