@model IEnumerable<MusicStoreMVCApp.ApprovalList>

@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            filterListByCriteria(-1);
        });

        function filterListByCriteria(filterCriteria) {
            const approvalList = @Html.Raw(Json.Encode(Model));

            let filteredList = approvalList.filter(item => { return item.Status === filterCriteria });
            if (filterCriteria === -1) {
                filteredList = approvalList;
            }

            $('.filter-btn')
                .removeClass('btn-dark')
                .addClass('btn-secondary');
            $('#button' + filterCriteria)
                .removeClass('btn-secondary')
                .addClass('btn-dark');
            $('.list-item').remove();
            filteredList.forEach(item => {
                $('#listBody').append(
                    '<tr class="list-item">' +
                        '<td>' + item.SellerFname + '</td>' +
                        '<td>' + item.SellerLname + '</td>' +
                        '<td>' + item.Address + '</td>' +
                        '<td>' + item.PhoneNumber + '</td>' +
                        '<td>' + item.Status + '</td>' +
                        '<td>' +
                            '<button class="btn btn-success rounded-circle me-3" type="button" data-bs-toggle="modal" data-bs-target="#confirmActionModal" onclick="changeActionButtonInModal(`Approve`,'+item.Id+')">' +
                                '<i class="fa-solid fa-check" style="color: #ffffff;"></i>' +
                            '</button>' +
                            '<button class="btn btn-danger rounded-circle" data-bs-toggle="modal" data-bs-target="#confirmActionModal" onclick="changeActionButtonInModal(`Reject`,' + item.Id + ')">' +
                                '<i class="fa-sharp fa-solid fa-xmark" style="color: #ffffff;"></i>' +
                            '</button>' +
                        '</td>' +
                    '</tr>'
                );
            })
        }
        
        function changeActionButtonInModal(action, id) {
            $('#actionButton').html(action)
                .attr('href', '/Admin/' + action + '/' + id)

            if (action === 'Approve') {
                $('#actionButton').html(action)
                    .addClass('btn-success')
                    .removeClass('btn-danger')
            }
            else if (action === 'Reject') {
                $('#actionButton').html(action)
                    .addClass('btn-danger')
                    .removeClass('btn-success')
            }
        }
    </script>
}

<div class="p-5">
    <h2 class="mb-4">Seller List for Approval</h2>
    <div class="container mb-4 pb-4 mx-0">
        <div class="row">
            <button id="button-1" type="button" class="btn btn-secondary filter-btn col-1 me-3" onclick="filterListByCriteria(-1)">All</button>
            <button id="button0" type="button" class="btn btn-secondary filter-btn col-1 me-3" onclick="filterListByCriteria(0)">Pending</button>
            <button id="button1" type="button" class="btn btn-secondary filter-btn col-1 me-3" onclick="filterListByCriteria(1)">Approve</button>
            <button id="button2" type="button" class="btn btn-secondary filter-btn col-1" onclick="filterListByCriteria(2)">Reject</button>
        </div>
    </div>

    <table class="table table-striped border shadow">
        <thead>
            <tr>
                <th>
                    Seller Firstname
                </th>
                <th>
                    Seller Lastname
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="listBody" class="table-group-divider"></tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="confirmActionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to proceed with current action? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a id="actionButton" class="btn">(Action)</a>
                </div>
            </div>
        </div>
    </div>
</div>
